body {
  font-family: 'Lato', sans-serif;
}

#root {
  overflow: hidden;
  min-height: 100vh;
}

.backgroundMain {
  background-image: url("/img/background-main3.png");
  background-size: cover;
  background-position: center;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.t-border {
  text-shadow: 2px 0px #000, -2px 0px #000, 0px 2px #000, 0px -2px #000;
}

.t-vertical-middle::before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 1px;
  vertical-align: middle;
}

.b-shadow-50 {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.b-shadow-50-green {
  background-color: rgba(7, 24, 5, 0.5);
  -webkit-box-shadow: 0 0 1rem 1rem rgba(7, 25, 5, 0.5);
          box-shadow: 0 0 1rem 1rem rgba(7, 25, 5, 0.5);
}

.b-shadow-75 {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.75);
}

.b-shadow-100-grey {
  background-color: #2d2d2d;
  -webkit-box-shadow: 0 0 .5rem .5rem #2d2d2d;
          box-shadow: 0 0 .5rem .5rem #2d2d2d;
}

.b-shadow-100-darkerGrey {
  background-color: #222;
  -webkit-box-shadow: 0 0 .5rem .5rem #222;
          box-shadow: 0 0 .5rem .5rem #222;
}

.tri-border {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #171717), to(#232323));
  background: linear-gradient(0deg, #171717 25%, #232323);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 2px #171717 inset ,0px 0px 0px 4px #343434 inset;
          box-shadow: 0px 0px 0px 2px #171717 inset ,0px 0px 0px 4px #343434 inset;
  border: solid 3px #555555;
}

.b-tb-fade {
  position: relative;
}

.b-tb-fade::before, .b-tb-fade::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-box-shadow: 0 0 2px 2px rgba(76, 175, 198, 0.1);
          box-shadow: 0 0 2px 2px rgba(76, 175, 198, 0.1);
}

.b-tb-fade::before {
  top: -4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, rgba(115, 192, 210, 0.5)), color-stop(85%, rgba(115, 192, 210, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(115, 192, 210, 0.5) 15%, rgba(115, 192, 210, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
}

.b-tb-fade::after {
  bottom: -4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, rgba(115, 192, 210, 0.38)), color-stop(85%, rgba(115, 192, 210, 0.38)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(115, 192, 210, 0.38) 15%, rgba(115, 192, 210, 0.38) 85%, rgba(0, 0, 0, 0) 100%);
}

header {
  width: 100vw;
  z-index: 10;
  margin-bottom: 2rem;
  margin-top: 6px;
  font-family: 'lora';
  font-size: 1.33rem;
}

header a {
  color: #73c0d2;
}

header a.active {
  color: #df8021;
}

header a:hover {
  color: #9ad1de;
}

header a:hover.active {
  color: #e59a4e;
}

header .container {
  position: relative;
}

header .container::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 250px;
  height: 63px;
  left: -110px;
  background-image: url("/img/general/Header-sapphire.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loadouts nav .nav-item {
  width: 80px;
  text-align: center;
}

.loadouts nav .nav-item a, .loadouts nav .nav-item button {
  line-height: 1;
  color: #df8021;
}

.loadouts nav .nav-item a:hover, .loadouts nav .nav-item button:hover {
  color: #b3671a;
}

.loadouts nav .nav-item a::after, .loadouts nav .nav-item button::after {
  content: '';
  display: block;
  margin: auto;
  width: .66rem;
  height: .66rem;
  margin-top: .5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
  background-color: #68390f;
  -webkit-box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
          box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
}

.loadouts nav .nav-item a.active::after, .loadouts nav .nav-item button.active::after {
  margin-top: .35rem;
  border-radius: 3px;
  width: 1rem;
  height: 1rem;
  background-color: #f59652;
  -webkit-box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
          box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
}

.loadouts nav .nav-item:nth-of-type(6) {
  margin-left: 3rem;
  position: relative;
}

.loadouts nav .nav-item:nth-of-type(6)::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: .45rem;
  width: 300%;
  height: 1.1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, #333), color-stop(85%, #333), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #333 15%, #333 85%, rgba(0, 0, 0, 0) 100%);
}

.loadouts nav .nav-rank {
  width: 95px;
}

.loadouts nav .nav-rank button {
  color: #73c0d2;
  padding-left: 0;
  padding-right: 0;
  background: none;
  border: none;
}

.loadouts nav .nav-rank button:hover {
  color: #4cafc6;
}

.loadouts nav .nav-rank button::after {
  background-color: #006368;
  -webkit-box-shadow: 0px 0px 0px 2px #2a8e8e inset, 0px 0px 0px 2px #0c3839;
          box-shadow: 0px 0px 0px 2px #2a8e8e inset, 0px 0px 0px 2px #0c3839;
}

.loadouts nav .nav-rank button.active::after {
  background-color: #21f1fb;
  -webkit-box-shadow: 0px 0px 0px 2px #21f1fb inset, 0px 0px 0px 4px #04b4b4 inset, 0px 0px 0px 2px #0c3839;
          box-shadow: 0px 0px 0px 2px #21f1fb inset, 0px 0px 0px 4px #04b4b4 inset, 0px 0px 0px 2px #0c3839;
}

.loadouts nav .nav-rank button:focus {
  outline: none;
}

.loadouts nav ul.nav {
  border: none;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.loadouts nav ul.nav .nav-item:first-child {
  position: relative;
}

.loadouts nav ul.nav .nav-item:first-child::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: .45rem;
  width: 500%;
  height: 1.1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, #333), color-stop(85%, #333), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #333 15%, #333 85%, rgba(0, 0, 0, 0) 100%);
}

.loadouts nav ul.nav li:last-child {
  margin-left: auto;
}

.loadouts nav .searchToggle {
  margin-right: 1rem;
  margin-top: 4px;
  font-size: .8rem;
  border: none;
  background: none;
  color: #704010;
  vertical-align: middle;
  line-height: .8;
}

.loadouts nav .searchToggle.active {
  color: #df8021;
}

.loadouts nav .searchToggle:focus {
  outline: none;
}

.searchBar input {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1;
  color: #ccc;
}

.searchBar input:focus {
  outline: none;
}

.searchBar ::-webkit-input-placeholder {
  color: #73c0d2;
}

.searchBar :-ms-input-placeholder {
  color: #73c0d2;
}

.searchBar ::-ms-input-placeholder {
  color: #73c0d2;
}

.searchBar ::placeholder {
  color: #73c0d2;
}

.searchBar::after {
  content: '';
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.monsterFull .elements img, .monsterFull .ailments img, .monsterFull .resistances img {
  width: 1rem;
}

.monsterFull .elements i, .monsterFull .ailments i {
  color: gold;
}

.monsterFull .resistances i {
  color: red;
}

.monsterList {
  color: white;
}

.monsterList a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
}

.monsterList input {
  margin-left: 1rem;
}

.equippedDetails {
  overflow: visible;
  margin: 0;
}

.equippedDetails .carousel {
  height: 100%;
}

.equippedDetails .carousel .carousel-inner {
  overflow: visible;
}

.equippedDetails .col-sm-4:first-child {
  padding: 0;
}

.equippedDetails .col-sm-4:first-child .carousel {
  padding: 0 1.25rem;
}

.equippedDetails .col-sm-4 {
  padding: 0 1.25rem;
}

.equippedDetails .equippedHeader {
  margin: 0 -15px;
  width: calc(100% + 30px);
  height: 72px;
  background-image: url("/img/general/Equipment-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 3.5;
  font-family: 'Lora';
  font-size: 1.25rem;
  color: #df8021;
}

.equippedDetails .equippedArmor .equippedPiece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equippedDetails .equippedArmor .equippedPiece p {
  color: #ddd;
  margin: 0 1rem;
  font-size: 1.33rem;
}

.equippedDetails .equippedArmor .equippedPiece .armorIcon .pieceTileInfo {
  z-index: 30;
  top: -0.4rem;
  left: 3rem;
}

.equippedDetails .statusPane .healthIcon,
.equippedDetails .statusPane .staminaIcon {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: 2px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.equippedDetails .statusPane .healthIcon::before,
.equippedDetails .statusPane .staminaIcon::before {
  content: '';
  display: block;
  margin-top: .2rem;
  margin-left: .2rem;
  width: .85rem;
  height: .85rem;
  border-radius: 2px;
}

.equippedDetails .statusPane .healthIcon::before {
  background-color: #79b05d;
  border: 2px solid #93bb7f;
  -webkit-box-shadow: 0 0 2px 2px #001400;
          box-shadow: 0 0 2px 2px #001400;
}

.equippedDetails .statusPane .staminaIcon::before {
  background-color: #cbba74;
  border: 2px solid #b39b6f;
  -webkit-box-shadow: 0 0 2px 2px #130b00;
          box-shadow: 0 0 2px 2px #130b00;
}

.equippedDetails .statusPane:nth-child(4) {
  margin-top: 2.5rem;
  border-top: #262626 dashed 3px;
  padding-top: 2px;
}

.equippedDetails .statusPane .status {
  position: relative;
}

.equippedDetails .statusPane .status .statusBreakdown {
  display: none;
  width: 150px;
  position: absolute;
  top: -60px;
}

.equippedDetails .statusPane .status .statusBreakdown div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #aaa;
}

.equippedDetails .statusPane .status .statusBreakdown div span {
  color: #ddd;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  text-align: right;
}

.equippedDetails .statusPane .status img:hover ~ .statusBreakdown {
  display: block;
}

.equippedInfo {
  color: #ddd;
  z-index: 2;
}

.equippedInfo .statusPane:nth-child(2) {
  border-top: #262626 dashed 3px;
}

.equippedSkills,
.armorPieceSkills {
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equippedSkills .skillTile,
.armorPieceSkills .skillTile {
  position: relative;
  max-width: 350px;
  margin-bottom: 7px;
  background-image: url("/img/general/skill-top.png");
  background-image: url("/img/general/skill-top.png"), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, #2d2d2d), color-stop(90%, #2d2d2d), to(rgba(0, 0, 0, 0)));
  background-image: url("/img/general/skill-top.png"), linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #2d2d2d 10%, #2d2d2d 90%, rgba(0, 0, 0, 0) 100%);
  background-size: contain;
  background-repeat: no-repeat;
}

.equippedSkills .skillTile:nth-child(2)::before,
.armorPieceSkills .skillTile:nth-child(2)::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: -5px;
  border-top: #262626 dashed 3px;
}

.equippedSkills .skillTile::after,
.armorPieceSkills .skillTile::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5px;
  border-top: #262626 dashed 3px;
}

.equippedSkills .skillTile .skillContent,
.armorPieceSkills .skillTile .skillContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.equippedSkills .skillTile .skillContent::after,
.armorPieceSkills .skillTile .skillContent::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, #171717), color-stop(90%, #171717), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #171717 10%, #171717 90%, rgba(0, 0, 0, 0) 100%);
  bottom: .35rem;
}

.equippedSkills .skillTile .skillContent p,
.armorPieceSkills .skillTile .skillContent p {
  margin: 0 0 .25rem 0;
  font-size: 1.25rem;
  line-height: 1;
}

.equippedSkills .skillTile .skillContent .skillInfo,
.armorPieceSkills .skillTile .skillContent .skillInfo {
  width: 100%;
  z-index: 5;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.25rem;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar p,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar p {
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 1rem;
  width: 6rem;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar p .skillOver,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar p .skillOver {
  color: red;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar p .skillCap,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar p .skillCap {
  color: #df8021;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-image: url("/img/general/Skill-bar.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons img,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons img {
  width: 1rem;
  margin-right: 2px;
}

.equippedSkills .skillTile .skillContent .skillIcon,
.armorPieceSkills .skillTile .skillContent .skillIcon {
  font-family: 'icomoon';
  font-size: 2.5rem;
  width: 5rem;
  padding-left: 1rem;
  z-index: 5;
}

.equippedSkills .skillTile .skillContent .skillIcon .skillIconInner,
.armorPieceSkills .skillTile .skillContent .skillIcon .skillIconInner {
  position: absolute;
  left: 1rem;
  color: #222;
}

.equippedSkills .skillTile .skillContent .skillIcon:hover,
.armorPieceSkills .skillTile .skillContent .skillIcon:hover {
  cursor: default;
}

.equippedSkills .skillTile .skillContent .skillIcon:hover ~ .skillTileInfo,
.armorPieceSkills .skillTile .skillContent .skillIcon:hover ~ .skillTileInfo {
  visibility: visible;
  opacity: 1;
}

.equippedSkills .skillTile .skillContent .skillTileInfo,
.armorPieceSkills .skillTile .skillContent .skillTileInfo {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
  position: absolute;
  left: calc(-50% + 35px);
  top: 18px;
  width: 100%;
  z-index: 10;
}

.equippedSkills .skillTile .skillContent .skillTileInfo:hover,
.armorPieceSkills .skillTile .skillContent .skillTileInfo:hover {
  visibility: visible;
  opacity: 1;
}

.equippedSkills .skillTile .skillContent .skillTileInfo .skillIconBackground,
.armorPieceSkills .skillTile .skillContent .skillTileInfo .skillIconBackground {
  height: 1.9rem;
  width: 100%;
  background-image: url("/img/general/Skill-background.png");
  background-size: 105%;
  background-position: top center;
  background-repeat: no-repeat;
}

.equippedSkills .skillTile .skillContent .skillTileInfo .skillIconBackground .skillIcon,
.armorPieceSkills .skillTile .skillContent .skillTileInfo .skillIconBackground .skillIcon {
  position: absolute;
  left: calc(50% - 35px);
  top: -18px;
}

.equippedSkills .skillTile .skillContent .skillTileInfo .skillName,
.armorPieceSkills .skillTile .skillContent .skillTileInfo .skillName {
  text-align: center;
  color: #edee91;
  font-size: 1.3rem;
  height: 2.8rem;
  background-image: url("/img/general/Skill-underline.png");
  background-size: 105%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.equippedSkills .skillTile .skillContent .skillTileInfo .skillDesc,
.armorPieceSkills .skillTile .skillContent .skillTileInfo .skillDesc {
  font-size: 1rem;
  color: #d5d6b6;
  padding-bottom: 6px;
  min-height: 5rem;
  border-bottom: #494949 dashed 2px;
}

.pagination {
  margin-top: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination .page-item .page-link {
  margin: 0 .5rem;
  padding: .4rem;
  margin-top: .5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
  background-color: #68390f;
  -webkit-box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
          box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
  border: none;
}

.pagination .page-item.active .page-link {
  margin-top: .35rem;
  border-radius: 3px;
  padding: .6rem;
  background-color: #f59652;
  -webkit-box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
          box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
}

.levelBreakdown h5,
.skillLevelInfo h5 {
  font-size: 1.2rem;
  color: #5e9699;
  font-family: 'lora';
  margin-bottom: 6px;
  padding: .25rem 0;
  border-bottom: #494949 dashed 2px;
}

.skillLevelInfo {
  font-size: 1rem;
  line-height: 1.25;
}

.skillLevelInfo .skillLevels {
  max-height: 8rem;
  overflow-y: auto;
}

.skillLevelInfo .skillLevels::-webkit-scrollbar {
  width: .4rem;
}

.skillLevelInfo .skillLevels::-webkit-scrollbar-track {
  border: 1px solid #262626;
  -webkit-box-shadow: inset 0px 0px 0px 1px #777777;
          box-shadow: inset 0px 0px 0px 1px #777777;
  border-radius: 45% 45% 45% 45% / 5% 5% 5% 5%;
}

.skillLevelInfo .skillLevels::-webkit-scrollbar-thumb {
  border-radius: 45% 45% 45% 45% / 5% 5% 5% 5%;
  background-color: #ddd;
}

.skillLevelInfo .skillLevel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: .25rem;
  margin-top: .25rem;
  border-bottom: #494949 dashed 2px;
}

.skillLevelInfo .skillLevel .level {
  white-space: nowrap;
  padding-left: .5rem;
  padding-right: 3rem;
}

.skillLevelInfo .skillLevel .description {
  color: #aaa;
}

.skillLevelInfo .skillLevel .description.reached {
  color: #ddd;
}

.skillLevelInfo .skillLevel .description.current {
  color: #56b128;
}

.levelBreakdown {
  padding-bottom: 6px;
  border-bottom: #494949 dashed 2px;
}

.levelBreakdown .spacer {
  color: #aaa;
  width: 4rem;
  text-align: center;
  z-index: 5;
}

.levelBreakdown .armorIcons,
.levelBreakdown .armorValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.levelBreakdown .armorIconsInner,
.levelBreakdown .armorValuesInner {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.levelBreakdown .armorValues {
  z-index: 5;
}

.levelBreakdown .armorValues::after {
  content: '';
  width: 100%;
  height: 70%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, #3e3e3e), color-stop(90%, #3e3e3e), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #3e3e3e 10%, #3e3e3e 90%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 15%;
  left: 0;
  z-index: -1;
}

.levelBreakdown .armorIcons .armorIcon {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.6rem;
  line-height: 1.6;
  border-radius: 3px;
  border: solid 2px #555555;
}

.levelBreakdown .armorValues {
  font-size: 1.25rem;
}

.levelBreakdown .armorValues .armorValue {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 0 0 3px 3px;
  background-color: #2a2a2a;
  -webkit-box-shadow: 0px -1px 0px 1px #373737 inset;
          box-shadow: 0px -1px 0px 1px #373737 inset;
  text-align: center;
  padding-right: 2px;
  padding-top: 1px;
}

.levelBreakdown .armorValues .armorValueHighlight {
  background-color: #443e26;
  -webkit-box-shadow: 0px -1px 0px 1px #554f35 inset;
          box-shadow: 0px -1px 0px 1px #554f35 inset;
}

.currentEquipped {
  font-family: 'Russo one','Lato', sans-serif;
  color: green;
  position: absolute;
  bottom: -16px;
  right: -8px;
  font-size: 1.5rem;
}

.armorPieces {
  margin-bottom: 2rem;
  font-size: .85rem;
}

.armorPieces h2 {
  background-image: url("/img/general/Equipment-list-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Lora';
  font-weight: 700;
  color: #73c0d2;
  font-size: 2rem;
  padding-top: 2.5rem;
  height: 7rem;
  text-align: center;
}

.armorPieces .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.armorPieces .row p {
  margin: 0 0 4px 0;
  white-space: nowrap;
  color: #ccc;
}

.armorPieces .pieceTile {
  margin-bottom: 1rem;
  position: relative;
}

.armorPieces .pieceTile button {
  color: #ddd;
}

.armorPieces .pieceTile form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.armorPieces .pieceTile form button {
  color: #946f6d;
}

.armorPieces .pieceTile form button:hover {
  color: #b88785;
}

.armorIcon {
  position: relative;
  font-family: "icomoon";
  font-size: 2rem;
  width: 3.25rem;
  text-align: center;
  color: #262626;
}

.armorIcon span span {
  position: absolute;
  left: 7px;
}

.armorIcon .pieceTileInfo {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.15s;
  transition: opacity ease-in-out 0.15s;
  z-index: 100;
  bottom: 0;
  left: 3rem;
  width: 350px;
  position: absolute;
}

.armorIcon:hover {
  cursor: default;
}

.armorIcon:hover .pieceTileInfo {
  visibility: visible;
  opacity: 1;
}

.statusPane h5 {
  text-align: center;
  color: #5e9699;
  font-family: 'lora';
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, #333), color-stop(85%, #333), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #333 15%, #333 85%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 2px;
}

.statusPane div {
  border-bottom: #262626 dashed 3px;
}

.statusPane .status {
  font-size: 1.05rem;
  padding: 2px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.statusPane .status span:nth-child(2) {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-left: .5rem;
  color: #aaa;
}

.statusPane img {
  width: 1.25rem;
}

.armorIcon.rarity--3 span span {
  color: #ebd754;
}

.armorIcon.rarity--2 span span {
  color: #ebd754;
}

.armorIcon.rarity--1 span span {
  color: #ebd754;
}

.armorIcon.rarity-0 span span {
  color: #787878;
}

.armorIcon.rarity-1 span span {
  color: #929292;
}

.armorIcon.rarity-2 span span {
  color: #e4e4e4;
}

.armorIcon.rarity-3 span span {
  color: #a0b558;
}

.armorIcon.rarity-4 span span {
  color: #5a9953;
}

.armorIcon.rarity-5 span span {
  color: #679396;
}

.armorIcon.rarity-6 span span {
  color: #5472e0;
}

.armorIcon.rarity-7 span span {
  color: #b38ef5;
}

.armorIcon.rarity-8 span span {
  color: #c27151;
}

.armorIcon.rarity-9 span span {
  color: #9b5d68;
}

.armorIcon.rarity-10-alt-1 {
  position: relative;
}

.armorIcon.rarity-10-alt-1::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity10-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-10-alt-1 span span {
  color: #4d72b6;
}

.armorIcon.rarity-10-alt-2 {
  position: relative;
}

.armorIcon.rarity-10-alt-2::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity10-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-10-alt-2 span span {
  color: #4d72b6;
}

.armorIcon.rarity-10-alt-3 {
  position: relative;
}

.armorIcon.rarity-10-alt-3::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity10-3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-10-alt-3 span span {
  color: #4d72b6;
}

.armorIcon.rarity-11-alt-1 {
  position: relative;
}

.armorIcon.rarity-11-alt-1::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity11-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-11-alt-1 span span {
  color: #866941;
}

.armorIcon.rarity-11-alt-2 {
  position: relative;
}

.armorIcon.rarity-11-alt-2::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity11-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-11-alt-2 span span {
  color: #866941;
}

.armorIcon.rarity-11-alt-3 {
  position: relative;
}

.armorIcon.rarity-11-alt-3::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity11-3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-11-alt-3 span span {
  color: #866941;
}

.armorIcon.rarity-12-alt-1 {
  position: relative;
}

.armorIcon.rarity-12-alt-1::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity12-1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-12-alt-1 span span {
  color: #92a0b1;
}

.armorIcon.rarity-12-alt-2 {
  position: relative;
}

.armorIcon.rarity-12-alt-2::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity12-2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-12-alt-2 span span {
  color: #92a0b1;
}

.armorIcon.rarity-12-alt-3 {
  position: relative;
}

.armorIcon.rarity-12-alt-3::after {
  content: '';
  z-index: 30;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/general/armorSparkle-rarity12-3.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.armorIcon.rarity-12-alt-3 span span {
  color: #92a0b1;
}

.skill-1 {
  color: #71618e;
}

.skill-2 {
  color: #949547;
}

.skill-3 {
  color: #478e94;
}

.skill-4 {
  color: #c7a31b;
}

.skill-5 {
  color: #787878;
}

.skill-6 {
  color: #a56c4e;
}

.skill-7 {
  color: #988274;
}

.skill-8 {
  color: #c7a31b;
}

.skill-9 {
  color: #e2e2e2;
}

.skill-10 {
  color: #e2e2e2;
}

.skill-11 {
  color: #6f6f6f;
}

.skill-12 {
  color: #857462;
}

.skill-13 {
  color: #857462;
}

.skill-14 {
  color: #988274;
}

.skill-15 {
  color: #ac4860;
}

.skill-16 {
  color: #c7a31b;
}

.skill-17 {
  color: #369786;
}

.skill-18 {
  color: #34845d;
}

.skill-19 {
  color: #34845d;
}

.skill-20 {
  color: #ac4860;
}

.skill-21 {
  color: #3d6cb4;
}

.skill-22 {
  color: #c3cdcc;
}

.skill-23 {
  color: #968d66;
}

.skill-24 {
  color: #6d273f;
}

.skill-25 {
  color: #685ba1;
}

.skill-26 {
  color: #ac4860;
}

.skill-27 {
  color: #3d6cb4;
}

.skill-28 {
  color: #c3cdcc;
}

.skill-29 {
  color: #968d66;
}

.skill-30 {
  color: #6d273f;
}

.skill-31 {
  color: #71618e;
}

.skill-32 {
  color: #949547;
}

.skill-33 {
  color: #478e94;
}

.skill-34 {
  color: #a56c4e;
}

.skill-35 {
  color: #c3cdcc;
}

.skill-36 {
  color: #436ab9;
}

.skill-37 {
  color: #4f7248;
}

.skill-38 {
  color: #6e8b89;
}

.skill-39 {
  color: #373598;
}

.skill-40 {
  color: #443a6c;
}

.skill-41 {
  color: #413982;
}

.skill-42 {
  color: #908873;
}

.skill-43 {
  color: #908873;
}

.skill-44 {
  color: #e2e2e2;
}
/*# sourceMappingURL=index.css.map */