body {
  font-family: 'Lato', sans-serif;
}

#root {
  overflow: hidden;
  min-height: 100vh;
}

.backgroundMain {
  background-image: url("/img/background-main3.png");
  background-size: cover;
  background-position: center;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.t-border {
  text-shadow: 2px 0px #000, -2px 0px #000, 0px 2px #000, 0px -2px #000;
}

.b-shadow-50 {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.b-shadow-50-green {
  background-color: rgba(7, 24, 5, 0.5);
  -webkit-box-shadow: 0 0 1rem 1rem rgba(7, 25, 5, 0.5);
          box-shadow: 0 0 1rem 1rem rgba(7, 25, 5, 0.5);
}

.b-shadow-75 {
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 0.5rem 0.5rem rgba(0, 0, 0, 0.75);
}

.b-shadow-100-grey {
  background-color: #2d2d2d;
  -webkit-box-shadow: 0 0 .5rem .5rem #2d2d2d;
          box-shadow: 0 0 .5rem .5rem #2d2d2d;
}

.tri-border {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(25%, #171717), to(#232323));
  background: linear-gradient(0deg, #171717 25%, #232323);
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 2px #171717 inset ,0px 0px 0px 4px #343434 inset;
          box-shadow: 0px 0px 0px 2px #171717 inset ,0px 0px 0px 4px #343434 inset;
  border: solid 3px #555555;
}

.b-tb-fade {
  position: relative;
}

.b-tb-fade::before, .b-tb-fade::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-box-shadow: 0 0 2px 2px rgba(76, 175, 198, 0.1);
          box-shadow: 0 0 2px 2px rgba(76, 175, 198, 0.1);
}

.b-tb-fade::before {
  top: -4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, rgba(115, 192, 210, 0.5)), color-stop(85%, rgba(115, 192, 210, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(115, 192, 210, 0.5) 15%, rgba(115, 192, 210, 0.5) 85%, rgba(0, 0, 0, 0) 100%);
}

.b-tb-fade::after {
  bottom: -4px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, rgba(115, 192, 210, 0.38)), color-stop(85%, rgba(115, 192, 210, 0.38)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(115, 192, 210, 0.38) 15%, rgba(115, 192, 210, 0.38) 85%, rgba(0, 0, 0, 0) 100%);
}

header {
  width: 100vw;
  z-index: 10;
  margin-bottom: 2rem;
  margin-top: 6px;
  font-family: 'lora';
  font-size: 1.33rem;
}

header a {
  color: #73c0d2;
}

header a.active {
  color: #df8021;
}

header a:hover {
  color: #9ad1de;
}

header a:hover.active {
  color: #e59a4e;
}

header .container {
  position: relative;
}

header .container::before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  width: 250px;
  height: 63px;
  left: -110px;
  background-image: url("/img/general/Header-sapphire.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.loadouts nav {
  margin-top: 2rem;
}

.loadouts nav .nav-item {
  width: 80px;
  text-align: center;
}

.loadouts nav .nav-item a, .loadouts nav .nav-item button {
  line-height: 1;
  color: #df8021;
}

.loadouts nav .nav-item a:hover, .loadouts nav .nav-item button:hover {
  color: #b3671a;
}

.loadouts nav .nav-item a::after, .loadouts nav .nav-item button::after {
  content: '';
  display: block;
  margin: auto;
  width: .66rem;
  height: .66rem;
  margin-top: .5rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 2px;
  background-color: #68390f;
  -webkit-box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
          box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
}

.loadouts nav .nav-item a.active::after, .loadouts nav .nav-item button.active::after {
  margin-top: .35rem;
  border-radius: 3px;
  width: 1rem;
  height: 1rem;
  background-color: #f59652;
  -webkit-box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
          box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
}

.loadouts nav .nav-item:nth-of-type(6) {
  margin-left: 4rem;
  position: relative;
}

.loadouts nav .nav-item:nth-of-type(6)::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: .45rem;
  width: 200%;
  height: 1.1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, #333), color-stop(85%, #333), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #333 15%, #333 85%, rgba(0, 0, 0, 0) 100%);
}

.loadouts nav .nav-rank {
  width: 105px;
}

.loadouts nav .nav-rank button {
  color: #73c0d2;
  background: none;
  border: none;
}

.loadouts nav .nav-rank button:hover {
  color: #4cafc6;
}

.loadouts nav .nav-rank button::after {
  background-color: #006368;
  -webkit-box-shadow: 0px 0px 0px 2px #2a8e8e inset, 0px 0px 0px 2px #0c3839;
          box-shadow: 0px 0px 0px 2px #2a8e8e inset, 0px 0px 0px 2px #0c3839;
}

.loadouts nav .nav-rank button.active::after {
  background-color: #21f1fb;
  -webkit-box-shadow: 0px 0px 0px 2px #21f1fb inset, 0px 0px 0px 4px #04b4b4 inset, 0px 0px 0px 2px #0c3839;
          box-shadow: 0px 0px 0px 2px #21f1fb inset, 0px 0px 0px 4px #04b4b4 inset, 0px 0px 0px 2px #0c3839;
}

.loadouts nav .nav-rank button:focus {
  outline: none;
}

.loadouts nav ul.nav {
  border: none;
  margin-bottom: 1rem;
}

.loadouts nav ul.nav .nav-item:first-child {
  position: relative;
}

.loadouts nav ul.nav .nav-item:first-child::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: .45rem;
  width: 500%;
  height: 1.1rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(15%, #333), color-stop(85%, #333), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #333 15%, #333 85%, rgba(0, 0, 0, 0) 100%);
}

.loadouts nav ul.nav li:last-child {
  margin-left: auto;
}

form {
  height: 100%;
}

form input {
  display: inline-block;
  vertical-align: middle;
  background: none;
  border: none;
  font-size: 1.25rem;
  line-height: 1;
  color: #ccc;
}

form input:focus {
  outline: none;
}

form ::-webkit-input-placeholder {
  color: #73c0d2;
}

form :-ms-input-placeholder {
  color: #73c0d2;
}

form ::-ms-input-placeholder {
  color: #73c0d2;
}

form ::placeholder {
  color: #73c0d2;
}

form::after {
  content: '';
  width: 1px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.monsterFull .elements img, .monsterFull .ailments img, .monsterFull .resistances img {
  width: 1rem;
}

.monsterFull .elements i, .monsterFull .ailments i {
  color: gold;
}

.monsterFull .resistances i {
  color: red;
}

.monsterList {
  color: white;
}

.monsterList a {
  display: block;
  color: white;
  text-align: center;
  padding: 1rem;
}

.monsterList input {
  margin-left: 1rem;
}

.row.equippedDetails {
  margin: 0;
}

.row.equippedDetails .equippedHeader {
  margin: 0 -15px;
  width: calc(100% + 30px);
  height: 72px;
  background-image: url("/img/general/Equipment-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 3.5;
  font-family: 'Lora';
  font-size: 1.25rem;
  color: #df8021;
}

.row.equippedDetails .equippedArmor .equippedPiece {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.equippedDetails .equippedArmor .equippedPiece p {
  color: #ddd;
  margin: 0 1rem;
  font-size: 1.33rem;
}

.equippedSkills,
.armorPieceSkills {
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.equippedSkills .skillTile,
.armorPieceSkills .skillTile {
  position: relative;
  max-width: 350px;
  margin-bottom: 7px;
  background-image: url("/img/general/skill-top.png");
  background-image: url("/img/general/skill-top.png"), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, #2d2d2d), color-stop(90%, #2d2d2d), to(rgba(0, 0, 0, 0)));
  background-image: url("/img/general/skill-top.png"), linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #2d2d2d 10%, #2d2d2d 90%, rgba(0, 0, 0, 0) 100%);
  background-size: contain;
  background-repeat: no-repeat;
}

.equippedSkills .skillTile:nth-child(2)::before,
.armorPieceSkills .skillTile:nth-child(2)::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  top: -5px;
  border-top: #262626 dashed 3px;
}

.equippedSkills .skillTile::after,
.armorPieceSkills .skillTile::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  bottom: -5px;
  border-top: #262626 dashed 3px;
}

.equippedSkills .skillTile .skillContent,
.armorPieceSkills .skillTile .skillContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equippedSkills .skillTile .skillContent::before,
.armorPieceSkills .skillTile .skillContent::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(10%, #171717), color-stop(90%, #171717), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #171717 10%, #171717 90%, rgba(0, 0, 0, 0) 100%);
  bottom: .35rem;
}

.equippedSkills .skillTile .skillContent p,
.armorPieceSkills .skillTile .skillContent p {
  margin: 0 0 .25rem 0;
  font-size: 1.25rem;
  line-height: 1;
}

.equippedSkills .skillTile .skillContent .skillInfo,
.armorPieceSkills .skillTile .skillContent .skillInfo {
  width: 100%;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1.25rem;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar p,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar p {
  z-index: 2;
  font-size: 1rem;
  line-height: 1.25;
  padding-right: 1rem;
  width: 7rem;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons {
  z-index: 2;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  background-image: url("/img/general/Skill-bar.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

.equippedSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons img,
.armorPieceSkills .skillTile .skillContent .skillInfo .skillBar .skillBarIcons img {
  width: 1rem;
  margin-right: 2px;
}

.equippedSkills .skillTile .skillContent .skillIcon,
.armorPieceSkills .skillTile .skillContent .skillIcon {
  font-family: 'icomoon';
  position: relative;
  font-size: 2.5rem;
  width: 5rem;
  padding-left: 1rem;
}

.equippedSkills .skillTile .skillContent .skillIcon span,
.armorPieceSkills .skillTile .skillContent .skillIcon span {
  position: absolute;
  left: 1rem;
  color: #222;
}

.currentEquipped {
  font-family: 'Russo one','Lato', sans-serif;
  color: green;
  position: absolute;
  bottom: -16px;
  right: -8px;
  font-size: 1.5rem;
}

.armorPieces {
  margin-bottom: 2rem;
  font-size: .85rem;
}

.armorPieces h2 {
  background-image: url("/img/general/Equipment-list-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: 'Lora';
  font-weight: 700;
  color: #73c0d2;
  font-size: 2rem;
  padding-top: 2.5rem;
  height: 7rem;
  text-align: center;
}

.armorPieces .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.armorPieces .row p {
  margin: 0 0 .25rem 0;
  color: #ccc;
}

.armorPieces .pieceTile {
  margin-bottom: 1rem;
  position: relative;
}

.armorPieces .pieceTile button {
  color: #ddd;
}

.armorPieces .pieceTile form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.armorPieces .pieceTile form button {
  color: #946f6d;
}

.armorPieces .pieceTile form button:hover {
  color: #b88785;
}

.armorIcon {
  position: relative;
  font-family: "icomoon";
  font-size: 2rem;
  width: 3.25rem;
  text-align: center;
}

.armorIcon span span {
  position: absolute;
  left: 7px;
}

.armorIcon .pieceTileInfo {
  display: none;
}

.armorIcon:hover {
  cursor: default;
}

.armorIcon:hover .pieceTileInfo {
  z-index: 100;
  display: block;
  position: absolute;
  bottom: 3.25rem;
  right: -300px;
  width: 350px;
}

.rarity-1 span span {
  color: #929292;
}

.rarity-2 span span {
  color: #e4e4e4;
}

.rarity-3 span span {
  color: #a0b558;
}

.rarity-4 span span {
  color: #5a9953;
}

.rarity-5 span span {
  color: #679396;
}

.rarity-6 span span {
  color: #5472e0;
}

.rarity-7 span span {
  color: #b38ef5;
}

.rarity-8 span span {
  color: #c27151;
}
/*# sourceMappingURL=index.css.map */