$textHighlight: #73c0d2;
$textHighlightSec: #df8021;
$textHighlightTir: #edee91;
$textHighlightQua: #5e9699;
$textMain: #ddd;
$textSec: #aaa;
$textTir: #d5d6b6;
$greyPri: #262626;
$greySec: #0a0a0a;


body {
  font-family: 'Lato', sans-serif;
}

#root {
  overflow: hidden;
  min-height: 100vh;
}

.backgroundMain {
  background-image: url("/img/background-main3.png");
  background-size: cover;
  background-position: center;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.t-border {
  text-shadow:
  2px 0px #000,
  -2px 0px #000,
  0px 2px #000,
  0px -2px #000;
}

.t-vertical-middle {
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    width: 1px;
    vertical-align: middle;
  } 
}

.b-shadow-50 {
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1rem 1rem rgba(0,0,0,.5);
}

.b-shadow-50-green {
  background-color: rgba(7,24,5,.5);
  box-shadow: 0 0 1rem 1rem rgba(7,25,5,.5);
}

.b-shadow-75 {
  background-color: rgba(black,.75);
  box-shadow: 0 0 .5rem .5rem rgba(black,.75);
}

.b-shadow-100-grey {
  background-color: #2d2d2d;
  box-shadow: 0 0 .5rem .5rem #2d2d2d;
}

.b-shadow-100-darkerGrey {
  background-color: #222;
  box-shadow: 0 0 .5rem .5rem #222;
}

.tri-border {
  background: linear-gradient(0deg, #171717 25%, #232323);
  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px #171717 inset ,0px 0px 0px 4px #343434 inset;
  border: solid 3px #555555;
}

.b-tb-fade {
  position: relative;
  &::before,
  &::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    box-shadow: 0 0 2px 2px rgba(darken($textHighlight, 10%),.1);
  }
  &::before {
    top: -4px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba($textHighlight, .5) 15%, rgba($textHighlight, .5) 85%, rgba(0,0,0,0) 100%)
  }
  &::after {
    bottom: -4px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba($textHighlight, .38) 15%, rgba($textHighlight, .38) 85%, rgba(0,0,0,0) 100%)
  }
}

header {
  width: 100vw;
  z-index: 10;
  margin-bottom: 2rem;
  margin-top: 6px;
  font-family: 'lora';
  font-size: 1.33rem;
  a {
    color: $textHighlight;
    &.active {
      color: $textHighlightSec;
    }
    &:hover {
      color: lighten($textHighlight, 10%);
      &.active {
        color: lighten($textHighlightSec, 10%);
      }
    }
  }
  .container {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 100%;
      width: 250px;
      height: 63px;
      left: -110px;
      background-image: url('/img/general/Header-sapphire.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.loadouts {
  nav {
    .nav-item {
      width: 80px;
      text-align: center;
      a, button {
        line-height: 1;
        color: $textHighlightSec;
        &:hover {
          color: darken($textHighlightSec, 10%);
        }
        &::after {
          content: '';
          display: block;
          margin: auto;
          width: .66rem;
          height: .66rem;
          margin-top: .5rem;
          transform: rotate(45deg);
          border-radius: 2px;
          background-color: #68390f;
          box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
        }
        &.active {
          &::after {
            margin-top: .35rem;
            border-radius: 3px;
            width: 1rem;
            height: 1rem;
            background-color: #f59652;
            box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
          }
        }
      }
      &:nth-of-type(6) {
        margin-left: 3rem;
        position: relative;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: .45rem;
          width: 300%;
          height: 1.1rem;
          background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #333 15%, #333 85%, rgba(0,0,0,0) 100%);
        }
      }
    }
    .nav-rank {
      width: 95px;
      button {
        color: $textHighlight;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          color: darken($textHighlight, 10%);
        }
        background: none;
        border: none;
        &::after {
          background-color: #006368;
          box-shadow: 0px 0px 0px 2px #2a8e8e inset, 0px 0px 0px 2px #0c3839;
        }
        &.active {
          &::after {
            background-color: #21f1fb;
            box-shadow: 0px 0px 0px 2px #21f1fb inset, 0px 0px 0px 4px #04b4b4 inset, 0px 0px 0px 2px #0c3839;
          }
        }
        &:focus {
          outline: none;
        }
      }
    }
    ul.nav {
      border: none;
      margin-bottom: 1rem;
      margin-top: 1rem;
      .nav-item:first-child {
        position: relative;
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: .45rem;
          width: 500%;
          height: 1.1rem;
          background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #333 15%, #333 85%, rgba(0,0,0,0) 100%);
        }
      }
      li:last-child {
        margin-left: auto;
      }
    }
    .searchToggle {
      margin-right: 1rem;
      margin-top: 4px;
      font-size: .8rem;
      border: none;
      background: none;
      color: darken($textHighlightSec, 25%);
      vertical-align: middle;
      line-height: .8;
      &.active {
        color: $textHighlightSec;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

.searchBar {
  input {
    display: inline-block;
    vertical-align: middle;
    background: none;
    border: none;
    font-size: 1.25rem;
    line-height: 1;
    color: #ccc;
    &:focus {
      outline: none;
    }
  }
  ::placeholder {
    color: $textHighlight;
  }
  &::after {
    content: '';
    width: 1px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.monsterFull {
  .elements, .ailments, .resistances {
    img {
      width: 1rem;
    }
  }

  .elements, .ailments {
    i {
      color: gold;
    }
  }

  .resistances {
    i {
      color: red;
    }
  }
}

.monsterList {
  color: white;
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  input {
    margin-left: 1rem;
  }
}

.equippedDetails {
  overflow: visible;
  .carousel {
    height: 100%;
    .carousel-inner {
      overflow: visible;
    }
  }
  .col-sm-4:first-child {
    padding: 0;
    .carousel {
      padding: 0 1.25rem;      
    }
  }
  .col-sm-4 {
    padding: 0 1.25rem;
  }
  margin: 0;
  .equippedHeader {
    margin: 0 -15px;
    width: calc(100% + 30px);
    height: 72px;
    background-image: url("/img/general/Equipment-top.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    line-height: 3.5;
    font-family: 'Lora';
    font-size: 1.25rem;
    color: $textHighlightSec;
  }
  .equippedArmor {
    .equippedPiece {
      display: flex;
      margin-bottom: 1rem;
      align-items: center;
      p {
        color: $textMain;
        margin: 0 1rem;
        font-size: 1.33rem;
      }
      .armorIcon {
        .pieceTileInfo {
          z-index: 30;
          top: -0.4rem;
          left: 3rem;
        }
      }
    }
  }
  .statusPane {
    .healthIcon,
    .staminaIcon {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      margin-top: 2px;
      transform: rotate(45deg);
      &::before {
        content: '';
        display: block;
        margin-top: .2rem;
        margin-left: .2rem;
        width: .85rem;
        height: .85rem;
        border-radius: 2px;
      }
    }
    .healthIcon {
      &::before {
        background-color: #79b05d;
        border: 2px solid #93bb7f;
        box-shadow: 0 0 2px 2px #001400;
      }
    }.staminaIcon {
      &::before {
        background-color: #cbba74;
        border: 2px solid #b39b6f;
        box-shadow: 0 0 2px 2px #130b00;
      }
    }
    &:nth-child(4) {
      margin-top: 2.5rem;
      border-top: $greyPri dashed 3px;
      padding-top: 2px;
    }
    .status {
      position: relative;
      .statusBreakdown {
        display: none;
        width: 150px;
        position: absolute;
        top: -60px;
        div {
          display: flex;
          color: $textSec;
          span {
            color: $textMain;
            flex-grow: 2;
            text-align: right;
          }
        }
      }
      img {
        &:hover {
          ~ .statusBreakdown {
            display: block;
          }
        }
      }
    }
  }
}

.equippedInfo {
  color: $textMain;
  z-index: 2;
  .statusPane {
    &:nth-child(2) {
      border-top: $greyPri dashed 3px;
    }
  }
}

.equippedSkills,
.armorPieceSkills {
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: $textMain;
  display: flex;
  flex-direction: column;
  .skillTile {
    position: relative;
    max-width: 350px;
    margin-bottom: 7px;
    background-image: url("/img/general/skill-top.png");
    background-image: url("/img/general/skill-top.png"), linear-gradient(90deg, rgba(0,0,0,0) 0%, #2d2d2d 10%, #2d2d2d 90%, rgba(0,0,0,0) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    &:nth-child(2)::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      top: -5px;
      border-top: $greyPri dashed 3px;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      bottom: -5px;
      border-top: $greyPri dashed 3px;
    }
    .skillContent {
      display: flex;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1.5rem;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #171717 10%, #171717 90%, rgba(0,0,0,0) 100%);
        bottom: .35rem;
      }
      p {
        margin: 0 0 .25rem 0;
        font-size: 1.25rem;
        line-height: 1;
      }
      .skillInfo {
        width: 100%;
        z-index: 5;
        .skillBar{
          display: flex;
          height: 1.25rem;
          p {
            font-size: 1rem;
            line-height: 1.25;
            padding-left: 1rem;
            width: 6rem;
            .skillOver {
              color: red;
            }
            .skillCap {
              color: $textHighlightSec
            }
          }
          .skillBarIcons {
            flex-grow: 2;
            background-image: url('/img/general/Skill-bar.png');
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            padding-left: 1rem;
            img {
              width: 1rem;
              margin-right: 2px;
            }
          }
        }
      }
      .skillIcon {
        font-family: 'icomoon';
        font-size: 2.5rem;
        width: 5rem;
        padding-left: 1rem;
        z-index: 5;
        .skillIconInner {
          position: absolute;
          left: 1rem;
          color: #222;
        }
        &:hover {
          cursor: default;
          ~ .skillTileInfo {
            visibility: visible;
            opacity: 1;
          }
        }
      }
      .skillTileInfo {
        visibility: hidden;
        opacity: 0;
        transition: opacity .25s;
        position: absolute;
        left: calc(-50% + 35px);        
        top: 18px;
        width: 100%;
        z-index: 10;
        &:hover {
          visibility: visible;
          opacity: 1;
        }
        .skillIconBackground {
          height: 1.9rem;
          width: 100%;
          background-image: url('/img/general/Skill-background.png');
          background-size: 105%;
          background-position: top center;
          background-repeat: no-repeat;
          .skillIcon {
            position: absolute;
            left: calc(50% - 35px);
            top: -18px;
          }
        }
        .skillName {
          text-align: center;
          color: $textHighlightTir;
          font-size: 1.3rem;
          height: 2.8rem;
          background-image: url('/img/general/Skill-underline.png');
          background-size: 105%;
          background-position: bottom center;
          background-repeat: no-repeat;
        }
        .skillDesc {
          font-size: 1rem;
          color: $textTir;
          padding-bottom: 6px;
          min-height: 5rem;
          border-bottom: #494949 dashed 2px;
        }
      }
    }
  }
}

.pagination {
  margin-top: auto;
  justify-content: center;
  .page-item {
    .page-link {
      margin: 0 .5rem;
      padding: .4rem;
      margin-top: .5rem;
      transform: rotate(45deg);
      border-radius: 2px;
      background-color: #68390f;
      box-shadow: 0px 0px 0px 2px #9f734c inset, 0px 0px 0px 2px #030303;
      border: none;
    }
    &.active .page-link {
      margin-top: .35rem;
      border-radius: 3px;
      padding: .6rem;
      background-color: #f59652;
      box-shadow: 0px 0px 0px 2px #f59652 inset, 0px 0px 0px 4px #c27036 inset, 0px 0px 0px 2px #030303;
    }
  }
}

.levelBreakdown,
.skillLevelInfo {
  h5 {
    font-size: 1.2rem;
    color: $textHighlightQua;
    font-family: 'lora';
    margin-bottom: 6px;
    padding: .25rem 0;
    border-bottom: #494949 dashed 2px;
  }
}

.skillLevelInfo {
  font-size: 1rem;
  line-height: 1.25;
  .skillLevels {
    max-height: 8rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: .4rem;
    }
    &::-webkit-scrollbar-track {
      border: 1px solid $greyPri;
      box-shadow: inset 0px 0px 0px 1px darken($textMain, 40%);
      border-radius: 45% 45% 45% 45% / 5% 5% 5% 5% ;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 45% 45% 45% 45% / 5% 5% 5% 5% ;
      background-color: $textMain;
    }
  }
  .skillLevel {
    display: flex;
    padding-bottom: .25rem;
    margin-top: .25rem;
    border-bottom: #494949 dashed 2px;
    .level {
      white-space: nowrap;
      padding-left: .5rem;
      padding-right: 3rem;
    }
    .description {
      color: $textSec;
      &.reached {
        color: $textMain;
      }
      &.current {
        color: #56b128;
      }
    }
  }
}

.levelBreakdown {
  padding-bottom: 6px;
  border-bottom: #494949 dashed 2px;
  .spacer {
    color: $textSec;
    width: 4rem;
    text-align: center;
    z-index: 5;
  }
  .armorIcons,
  .armorValues {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .armorIconsInner,
  .armorValuesInner {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
  }
  .armorValues {
    z-index: 5;
    &::after {
      content: '';
      width: 100%;
      height: 70%;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #3e3e3e 10%, #3e3e3e 90%, rgba(0, 0, 0, 0) 100%);
      position: absolute;
      top: 15%;
      left: 0;
      z-index: -1;
    }
  }
  .armorIcons {
    .armorIcon {
      width: 2.75rem;
      height: 2.75rem;
      font-size: 1.6rem;
      line-height: 1.6;
      border-radius: 3px;
      border: solid 2px #555555;
    }
  }
  .armorValues {
    font-size: 1.25rem;
    .armorValue {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 0 0 3px 3px;
      background-color: #2a2a2a;
      box-shadow: 0px -1px 0px 1px #373737 inset;
      text-align: center;
      padding-right: 2px;
      padding-top: 1px;
    }
    .armorValueHighlight {
      background-color: #443e26;
      box-shadow: 0px -1px 0px 1px #554f35 inset;
    }
  }
}

.currentEquipped {
  font-family: 'Russo one','Lato', sans-serif;
  color: green;
  position: absolute;
  bottom: -16px;
  right: -8px;
  font-size: 1.5rem;
}

.armorPieces {
  margin-bottom: 2rem;
  h2 {
    background-image: url("/img/general/Equipment-list-top.png");
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Lora';
    font-weight: 700;
    color: $textHighlight;
    font-size: 2rem;
    padding-top: 2.5rem;
    height: 7rem;
    text-align: center;
  }
  .row {
    padding-left: 1rem;
    padding-right: 1rem;
    p {
      margin: 0 0 4px 0;
      white-space: nowrap;
      color: #ccc;
    }
  }
  font-size: .85rem;
  .pieceTile {
    margin-bottom: 1rem;
    position: relative;
    button {
      color: $textMain;
    }
    form {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        color: #946f6d;
        &:hover {
          color: #b88785;
        }
      }
    }
  }
}

.armorIcon {
  position: relative;
  font-family: "icomoon";
  font-size: 2rem;
  width: 3.25rem;
  text-align: center;
  color: $greyPri;
  span span {
    position: absolute;
    left: 7px;
  }
  .pieceTileInfo {
    visibility: hidden;
    opacity: 0;
    transition: opacity ease-in-out 0.15s;
    z-index: 100;
    bottom: 0;
    left: 3rem;
    width: 350px;
    position: absolute;
  }
  &:hover {
    cursor: default;
    .pieceTileInfo {
      visibility: visible;
      opacity: 1;
    }
  }
}

.statusPane {
  h5 {
    text-align: center;
    color: $textHighlightQua;
    font-family: 'lora';
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, #333 15%, #333 85%, rgba(0,0,0,0) 100%);
    margin-bottom: 2px;
  }
  div {
    border-bottom: $greyPri dashed 3px;
  }
  .status {
    font-size: 1.05rem;
    padding: 2px 0;
    display: flex;
    span:nth-child(2) {
      flex-grow: 2;
      padding-left: .5rem;
      color: $textSec;
    }
  }
  img {
    width: 1.25rem;
  }
}

$rarityColors: (
  -3 : #ebd754,
  -2 : #ebd754,
  -1 : #ebd754,
  0 : #787878,
  1 : #929292,
  2 : #e4e4e4,
  3 : #a0b558,
  4 : #5a9953,
  5 : #679396,
  6 : #5472e0,
  7 : #b38ef5,
  8 : #c27151,
  9 : #9b5d68
);

$shinyColor: (
  10 : #4d72b6,
  11 : #866941,
  12 : #92a0b1
);

$shinyAlts: (1, 2, 3);

@each $rarity, $color in $rarityColors {
  .armorIcon.rarity-#{$rarity} span span{
    color: $color;
  }
}

@each $rarity, $color in $shinyColor {
  @each $alt in $shinyAlts {
    .armorIcon.rarity-#{$rarity}-alt-#{$alt} {
      position: relative;
      &::after {
        content: '';
        z-index: 30;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        background-image: url("/img/general/armorSparkle-rarity#{$rarity}-#{$alt}.png");
        background-size: contain;
        background-repeat: no-repeat;;
      }
      span {
        span {
          color: $color;
        }
      }
    }
  }
}

$skillColors: (
  1   : #71618e, // Poison Res
  2   : #949547, // Paralysis Res
  3   : #478e94, // Sleep Res
  4   : #c7a31b, // Stun Res
  5   : #787878, // Muck Res
  6   : #a56c4e, // Blast Res
  7   : #988274, // Bleed Res
  8   : #c7a31b, // Iron Skin
  9   : #e2e2e2, // Earplugs
  10  : #e2e2e2, // Windproof
  11  : #6f6f6f, // Tremor Res
  12  : #857462, // Dungmaster
  13  : #857462, // Effluvial Expert
  14  : #988274, // Heat Guard
  15  : #ac4860, // Attack Boost
  16  : #c7a31b, // Defence Boost
  17  : #369786, // Health Boost
  18  : #34845d, // Recovery Up
  19  : #34845d, // Recovery Speed
  20  : #ac4860, // Fire Res
  21  : #3d6cb4, // Water Res
  22  : #c3cdcc, // Ice Res
  23  : #968d66, // Thunder Res
  24  : #6d273f, // Dragon Res
  25  : #685ba1, // Blight Res
  26  : #ac4860, // Fire Attack
  27  : #3d6cb4, // Water Attack
  28  : #c3cdcc, // Ice Attack
  29  : #968d66, // Thunder Attack
  30  : #6d273f, // Dragon Attack
  31  : #71618e, // Poison Attack
  32  : #949547, // Paralysis Attack
  33  : #478e94, // Sleep Attack
  34  : #a56c4e, // Blast Attack
  35  : #c3cdcc, // Normal Shots
  36  : #436ab9, // Piercing Shots
  37  : #4f7248, // Spread/Power Shots
  38  : #6e8b89, // Free Elem/Ammo Up
  39  : #373598, // Critical Eye
  40  : #443a6c, // Critical Boost
  41  : #413982, // Weakness Exploit
  42  : #908873, // Focus
  43  : #908873, // Power Prolonger
  44  : #e2e2e2, // Handicraft
  // Need to add the rest, unless better solution is found
);

@each $skill, $color in $skillColors {
  .skill-#{$skill} {
    color: $color;
  }
}